html, body {
  margin: 0;
  padding: 0;
}

body {
  background: black;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;

  & > .container {
    margin: 0 auto;
    box-sizing: border-box;
    border: 7px solid lightblue;
  }
}
